body {
  background-color: #22252c;
}

.App {
  text-align: center;
  margin: 1rem;
}

.App-buttons {
  display: inline-flex;
  color: black;
}

.App-button {
  background-color: whitesmoke;
  color: black;
  margin: 1rem;
  width: 8em;
  height: 3em;
  border: none;
  border-radius: 5px;
}

.App-button:hover {
  background-color: aqua;
}

.App-header {
  color: cyan;
}

.App-header2 {
  color: aliceblue;
}

.App-stat {
  color: aquamarine;
  font-size: large;
  margin: 0;
}

.App-text {
  color: springgreen;
  font-size: medium;
  font-weight: 700;
  text-align: center;
}

ul {
  padding: 0;
}

button {
  margin: 10px;
  width: 200px;
  height: 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 4px;
}

button:hover {
  background-color: cyan;
  scale: 1.1;
}

.button2 {
  margin: 10px;
  width: 70px;
  height: 20px;
  border: none;
  background-color: white;
  color: black;
  font-size: 12px;
  border-radius: 4px;
}

.notification {
  position: absolute;
  background-color: green;
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translatex(-50%);
  top: 0;
  animation: notfication-slide 3050ms  ease-in-out;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

.error {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 15px;
  padding: 20px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translatex(-50%);
  top: 0;
  animation: notfication-slide 3050ms  ease-in-out;
  animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes notfication-slide {
  0%{
    opacity: 0;
    top: 0;
  }
  2%{
    opacity: 0;
  }
  20%{
    opacity: 1;
    top: 2rem;
  }
  80%{
    opacity: 1;
    top: 2rem;
  }
  98% {opacity: 0;}
  100%{
    opacity: 0;
    top: 0;
  }
}